body {
    background-color: gray;
    color: honeydew;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#text {
    border-right: solid salmon;
    letter-spacing: 0.1em; 
    animation: blink 0.75s step-end infinite;
}

@keyframes blink {
from,
to{
    border-color: transparent;
}  
50%{
    border-color: salmon; 
}
}